-- 20260914203132_operator_recovery_controls.sql

-- Drop the implicit unique constraint to allow resends
alter table public.document_email_sends 
  drop constraint document_email_sends_account_id_kind_document_id_revi_key;

-- Add resend tracking columns
alter table public.document_email_sends 
  add column resend_of_id uuid references public.document_email_sends(id) on delete cascade,
  add column resend_idempotency_key text unique;

-- Recreate the unique constraint for primary sends only
create unique index document_email_sends_primary_idx on public.document_email_sends(account_id, kind, document_id, revision) where resend_of_id is null;

-- Add a function for deliberate resend
create function public.submit_document_email_resend(
  p_original_send_id uuid,
  p_account_id uuid,
  p_actor text,
  p_idempotency_key text
) returns uuid language plpgsql security invoker set search_path = '' as \$\$
declare
  v_original public.document_email_sends;
  v_existing_resend_id uuid;
  v_new_resend_id uuid;
begin
  select * into v_original from public.document_email_sends where id = p_original_send_id and account_id = p_account_id;
  if not found then
    raise exception 'Original send not found';
  end if;

  if v_original.state not in ('accepted', 'cancelled') then
    raise exception 'Original send must be resolved before resending';
  end if;

  select id into v_existing_resend_id from public.document_email_sends where resend_idempotency_key = p_idempotency_key;
  if found then
    return v_existing_resend_id;
  end if;

  insert into public.document_email_sends(
    account_id, job_id, invoice_id, kind, document_id, revision, recipient, payload, fallback_payload, provider_scope, state, phase, resend_of_id, resend_idempotency_key
  ) values (
    v_original.account_id, v_original.job_id, v_original.invoice_id, v_original.kind, v_original.document_id, v_original.revision, v_original.recipient, v_original.payload, v_original.fallback_payload, v_original.provider_scope, 'sending', v_original.phase, p_original_send_id, p_idempotency_key
  ) returning id into v_new_resend_id;

  return v_new_resend_id;
end;
\$\$;
revoke all on function public.submit_document_email_resend(uuid,uuid,text,text) from public,anon,authenticated;
grant execute on function public.submit_document_email_resend(uuid,uuid,text,text) to service_role;
notify pgrst, 'reload schema';

