CREATE TABLE IF NOT EXISTS inventory_restock_orders (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  account_id UUID NOT NULL,
  order_number TEXT NOT NULL,
  supplier_name TEXT,
  status TEXT NOT NULL DEFAULT 'draft',
  created_by TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE TABLE IF NOT EXISTS inventory_restock_order_lines (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  account_id UUID NOT NULL,
  order_id UUID NOT NULL REFERENCES inventory_restock_orders(id) ON DELETE CASCADE,
  item_id UUID,
  sku TEXT NOT NULL,
  item_name TEXT NOT NULL,
  destination_location_name TEXT NOT NULL,
  destination_location_id UUID,
  ordered_quantity NUMERIC NOT NULL,
  received_quantity NUMERIC NOT NULL DEFAULT 0,
  unit TEXT,
  unit_cost NUMERIC,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE TABLE IF NOT EXISTS inventory_restock_receipts (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  account_id UUID NOT NULL,
  order_id UUID NOT NULL REFERENCES inventory_restock_orders(id) ON DELETE CASCADE,
  line_id UUID NOT NULL REFERENCES inventory_restock_order_lines(id) ON DELETE CASCADE,
  quantity NUMERIC NOT NULL,
  destination_location_name TEXT NOT NULL,
  destination_location_id UUID,
  received_by TEXT,
  request_id UUID UNIQUE,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- RPC for receiving stock
CREATE OR REPLACE FUNCTION inventory_receive_order_line(
  p_account_id UUID,
  p_order_id UUID,
  p_line_id UUID,
  p_quantity NUMERIC,
  p_received_by TEXT,
  p_request_id UUID
) RETURNS jsonb
LANGUAGE plpgsql
AS $BODY
DECLARE
  v_line inventory_restock_order_lines%ROWTYPE;
  v_dest_item inventory_stock_items%ROWTYPE;
  v_receipt_id UUID;
  v_transfer_id UUID;
  v_outstanding NUMERIC;
BEGIN
  -- Idempotency
  IF p_request_id IS NOT NULL THEN
    SELECT id INTO v_receipt_id FROM inventory_restock_receipts WHERE request_id = p_request_id AND account_id = p_account_id;
    IF v_receipt_id IS NOT NULL THEN
      RETURN jsonb_build_object('success', true, 'receipt_id', v_receipt_id, 'message', 'Already processed');
    END IF;
  END IF;

  -- Lock line
  SELECT * INTO v_line 
  FROM inventory_restock_order_lines 
  WHERE id = p_line_id AND account_id = p_account_id AND order_id = p_order_id
  FOR UPDATE;

  IF NOT FOUND THEN
    RAISE EXCEPTION 'Order line not found';
  END IF;

  v_outstanding := v_line.ordered_quantity - v_line.received_quantity;
  IF v_outstanding < p_quantity THEN
    RAISE EXCEPTION 'Cannot over-receive. Outstanding: %, Requested: %', v_outstanding, p_quantity;
  END IF;

  -- Update line
  UPDATE inventory_restock_order_lines
  SET received_quantity = received_quantity + p_quantity, updated_at = now()
  WHERE id = p_line_id;

  -- Record receipt
  INSERT INTO inventory_restock_receipts (
    account_id, order_id, line_id, quantity, destination_location_name, destination_location_id, received_by, request_id
  ) VALUES (
    p_account_id, p_order_id, p_line_id, p_quantity, v_line.destination_location_name, v_line.destination_location_id, p_received_by, p_request_id
  ) RETURNING id INTO v_receipt_id;

  -- Find or create destination item
  SELECT * INTO v_dest_item
  FROM inventory_stock_items
  WHERE sku = v_line.sku AND location_name = v_line.destination_location_name AND account_id = p_account_id
  FOR UPDATE;

  IF FOUND THEN
    UPDATE inventory_stock_items
    SET quantity_on_hand = quantity_on_hand + p_quantity, updated_at = now()
    WHERE id = v_dest_item.id;
  ELSE
    INSERT INTO inventory_stock_items (
      account_id, name, sku, location_name, location_id, quantity_on_hand, unit, unit_cost
    ) VALUES (
      p_account_id, v_line.item_name, v_line.sku, v_line.destination_location_name, v_line.destination_location_id, p_quantity, v_line.unit, v_line.unit_cost
    ) RETURNING * INTO v_dest_item;
  END IF;

  -- Insert history
  INSERT INTO inventory_stock_transfers (
    account_id, item_id, item_name, from_location, to_location, quantity, performed_by, notes, request_id
  ) VALUES (
    p_account_id, v_dest_item.id, v_dest_item.name, 'Supplier', v_line.destination_location_name, p_quantity, p_received_by, 'Received PO ' || p_order_id, p_request_id
  ) RETURNING id INTO v_transfer_id;

  -- Update order status if all lines are fully received
  -- ... wait, doing this in JS is easier or we can do it here. 
  -- But wait, order status can be 'partially_received' or 'received'
  UPDATE inventory_restock_orders
  SET status = CASE
    WHEN (SELECT sum(ordered_quantity) = sum(received_quantity) FROM inventory_restock_order_lines WHERE order_id = p_order_id) THEN 'received'
    ELSE 'partially_received'
  END, updated_at = now()
  WHERE id = p_order_id;

  RETURN jsonb_build_object('success', true, 'receipt_id', v_receipt_id, 'transfer_id', v_transfer_id);
END;
$BODY;
