ALTER TABLE inventory_stock_transfers ADD COLUMN IF NOT EXISTS request_id UUID UNIQUE;

CREATE OR REPLACE FUNCTION inventory_transfer_stock(
  p_account_id UUID,
  p_source_item_id UUID,
  p_quantity NUMERIC,
  p_to_location_name TEXT,
  p_to_location_id UUID,
  p_performed_by TEXT,
  p_notes TEXT,
  p_request_id UUID
) RETURNS jsonb
LANGUAGE plpgsql
AS $BODY
DECLARE
  v_source_item inventory_stock_items%ROWTYPE;
  v_dest_item inventory_stock_items%ROWTYPE;
  v_transfer_id UUID;
BEGIN
  IF p_request_id IS NOT NULL THEN
    SELECT id INTO v_transfer_id FROM inventory_stock_transfers WHERE request_id = p_request_id AND account_id = p_account_id;
    IF v_transfer_id IS NOT NULL THEN
      RETURN jsonb_build_object('success', true, 'transfer_id', v_transfer_id, 'message', 'Already processed');
    END IF;
  END IF;

  SELECT * INTO v_source_item 
  FROM inventory_stock_items 
  WHERE id = p_source_item_id AND account_id = p_account_id 
  FOR UPDATE;

  IF NOT FOUND THEN
    RAISE EXCEPTION 'Source item not found';
  END IF;

  IF v_source_item.quantity_on_hand < p_quantity THEN
    RAISE EXCEPTION 'Insufficient stock. Available: %, Requested: %', v_source_item.quantity_on_hand, p_quantity;
  END IF;

  UPDATE inventory_stock_items 
  SET quantity_on_hand = quantity_on_hand - p_quantity, updated_at = now()
  WHERE id = p_source_item_id;

  IF p_to_location_name IS NOT NULL AND p_to_location_name != v_source_item.location_name THEN
    SELECT * INTO v_dest_item
    FROM inventory_stock_items
    WHERE sku = v_source_item.sku AND location_name = p_to_location_name AND account_id = p_account_id
    FOR UPDATE;

    IF FOUND THEN
      UPDATE inventory_stock_items
      SET quantity_on_hand = quantity_on_hand + p_quantity, updated_at = now()
      WHERE id = v_dest_item.id;
    ELSE
      INSERT INTO inventory_stock_items (
        account_id, name, sku, category, location_name, location_id, quantity_on_hand, min_threshold, reorder_qty, unit_cost, unit, preferred_supplier
      ) VALUES (
        p_account_id, v_source_item.name, v_source_item.sku, v_source_item.category, p_to_location_name, p_to_location_id, p_quantity, v_source_item.min_threshold, v_source_item.reorder_qty, v_source_item.unit_cost, v_source_item.unit, v_source_item.preferred_supplier
      ) RETURNING * INTO v_dest_item;
    END IF;
  END IF;

  INSERT INTO inventory_stock_transfers (
    account_id, item_id, item_name, from_location, to_location, quantity, performed_by, notes, request_id
  ) VALUES (
    p_account_id, p_source_item_id, v_source_item.name, v_source_item.location_name, COALESCE(p_to_location_name, 'Adjustment'), p_quantity, p_performed_by, p_notes, p_request_id
  ) RETURNING id INTO v_transfer_id;

  RETURN jsonb_build_object('success', true, 'transfer_id', v_transfer_id);
END;
$BODY;
